.userCard {
    padding: 30px;
    border-radius: 33px;
    box-shadow: 4px 4px 10.5px -1px rgba(0, 0, 0, 0.25);

    flex-shrink: 0;

    width: 402px;
    overflow: hidden;

    &.light {
        color: black;
        background: linear-gradient(
            to bottom,
            rgba(153, 152, 150, 0.42),
            #fffdfa
        );
    }

    &.dark {
        color: white;
        background: linear-gradient(to bottom, #52566f, #222329);
    }

    .userCardHeader {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        font-size: 1.87rem;

        .userCardHeader-headerNameWrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                flex-shrink: 0;

                width: 40px;
                height: 40px;

                stroke-width: 2px;

                background-color: rgba($color: #000000, $alpha: 0);
                border-radius: 50%;
                padding: 5px;

                &:hover {
                    cursor: pointer;
                    scale: 1.05;

                    background-color: rgba($color: #777, $alpha: 0.4);
                }

                &:active {
                    scale: 1;
                }
            }
        }

        .headerUsernameWrapper {
            display: flex;

            .akaSign {
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 0.4rem;
                color: rgba($color: #fff, $alpha: 0.6);
                font-size: 1.6rem;

                &.light {
                    color: rgba($color: #000, $alpha: 0.6);
                }
            }

            .headerUsername {
                margin-left: 5px;
                color: rgba($color: #fff, $alpha: 0.6);
                font-size: 1.6rem;

                &.light {
                    color: rgba($color: #000, $alpha: 0.6);
                }
            }
        }

        .headerName {
            width: 100%;

            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            font-weight: lighter;
            margin-right: 10px;
        }
    }

    .userInfoWrapper {
        margin: 40px 0;

        > *:not(:last-child) {
            margin-bottom: 13px;
        }
    }

    .infoCardsWrapper {
        display: flex;
        justify-content: space-between;

        .rightInfoCardsWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .viewPostsButton {
                margin-top: 10px;
            }
        }
    }
}
