@use '../styles/variables' as modal;
@use 'shared/styles/variables' as v;
@use 'sass:color';

$cancelButtonBg: #f6f6f6;
$buttonBorderRadius: 7px;

.buttons-wrapper {
    position: absolute;

    right: 13px;
    bottom: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
        border: none;
        background-color: transparent;
        outline: none;
        font-size: modal.$baseFont;

        &:hover {
            cursor: pointer;
        }

        @include modal.transition();
    }

    .cancel-button {
        margin-right: 12px;
        background-color: $cancelButtonBg;
        padding: 3px 10px;
        border-radius: $buttonBorderRadius;

        &:hover {
            background-color: color.scale(
                $color: $cancelButtonBg,
                $lightness: -20%
            );
        }

        &:active {
            background-color: $cancelButtonBg;
        }
    }

    .okButton {
        padding: 3px 20px;
        border-radius: $buttonBorderRadius;

        color: white;

        @each $value, $color in v.$baseColorsMap {
            &.button-#{$value} {
                background-color: color.scale($color: $color, $lightness: -20%);

                &:hover {
                    background-color: color.scale(
                        $color: $color,
                        $lightness: -40%
                    );
                }

                &:active {
                    background-color: color.scale(
                        $color: $color,
                        $lightness: -20%
                    );
                }
            }
        }
    }
}
