@use '../styles/sharedUserCardStyles' as uc;

$streetSecondaryColor: #2e2e2e;

.addressCard {
    @include uc.userInfoCardBg();

    .addressCardHeader {
        display: flex;
        justify-content: start;
        align-items: start;

        .basicAddressWrapper {
            margin-right: 17px;

            .cityName {
                font-size: 1.25rem;
                font-weight: lighter;
            }

            .streetWrapper {
                color: $streetSecondaryColor;

                line-height: 0.9rem;

                margin-top: 7px;

                .streetName {
                    margin-right: 6px;
                }

                .streetText {
                    font-size: 0.8rem;
                }
            }

            .suiteWrapper {
                color: $streetSecondaryColor;
                line-height: 0.9rem;
            }
        }

        .homeIcon {
            width: 32px;
            height: 32px;
            color: #33363f;
        }
    }

    .zipWrapper {
        margin-top: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .zipCode {
            font-size: 1.125rem;
        }
    }
}
