// basic colors
$primaryColor: #73b0e7;
$secondaryColor: #8ea3b6;
$infoColor: #84cec2;
$dangerColor: #ce8a84;

// text
$textColor: black;

// text sizes
$smallText: 0.875rem;
$mediumText: 1rem;
$bigText: 1.25rem;
