// basic colors
$primaryColor: #73b0e7;
$secondaryColor: #8ea3b6;
$infoColor: #84cec2;
$dangerColor: #ce8a84;

// text
$textColor: black;

// text sizes
$smallText: 0.875rem;
$mediumText: 1rem;
$bigText: 1.25rem;

// map for easier looping
$baseColorsMap: (
    primary: $primaryColor,
    secondary: $secondaryColor,
    info: $infoColor,
    danger: $dangerColor,
);

html[data-theme='light'] {
    --sidebarBgColor: #e2e5e7;
    --oppositeSidebarBgColor: #101827;

    --sidebarTextColor: #101827;
    --oppositeSidebarTextColor: #e8e9ea;

    --highlightColor: #d2d4dc;
}

html[data-theme='dark'] {
    --sidebarBgColor: #101827;
    --oppositeSidebarBgColor: #e2e5e7;

    --sidebarTextColor: #e8e9ea;
    --oppositeSidebarTextColor: #101827;

    --highlightColor: #384151;
}
