@use 'shared/styles/variables' as v;

.userPostPage {
    margin-left: 50px;

    &.dark {
        color: white;
    }

    &.light {
        color: black;
    }

    .userPostsHeader {
        font-size: 3rem;
        font-weight: bold;

        margin-top: 30px;
    }

    .postControlsWrapper {
        margin-top: 49px;

        display: flex;
        justify-content: start;
        align-items: center;

        .filtersWrapper {
            > *:not(:last-child) {
                margin-bottom: 20px;
            }

            .filterHeader {
                font-size: 1.75rem;
                font-weight: normal;
            }

            .select {
                max-width: 200px;
            }
        }
    }

    .postsContainer {
        margin-top: 40px;

        > * {
            margin-bottom: 40px;
        }

        .error {
            font-size: 1.3rem;
            color: v.$dangerColor;
        }
    }
}

.warningTextWrapper {
    height: 130px;
    display: grid;
    place-content: center;

    .modalDeleteWarningText {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
    }
}

.deleteModalFooterButtonsWrapper {
    display: flex;

    > *:not(:last-child) {
        margin-right: 10px;
    }
}
