@use '../styles/variables' as drop;
@use 'shared/styles/variables' as v;
@use 'sass:color';

.chooseFiled {
    border-radius: drop.$borderRadius;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0.125rem 0.125rem 4px rgba(black, 0.25);

    .input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;

        @each $value, $color in v.$baseColorsMap {
            &.placeholder-#{$value}::placeholder {
                color: color.scale($color: $color, $lightness: -70%);
            }
        }
    }

    .icon {
        @include drop.selectTransition();

        width: 20px;
        height: 20px;

        flex-shrink: 0;
        margin: 0 10px;

        &.icon-expanded {
            transform: rotate(-90deg);
            opacity: drop.$opacityWhileExpanded;
        }

        &.icon-closed {
            transform: rotate(90deg);
        }
    }
}
