@use '../styles/variables' as drop;

.chooseFiled {
    border-radius: drop.$borderRadius;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0.125rem 0.125rem 4px rgba(black, 0.25);

    .chooseFiled-text-expanded {
        opacity: drop.$opacityWhileExpanded;
    }

    .icon {
        @include drop.selectTransition();

        width: 20px;
        height: 20px;

        &.icon-expanded {
            transform: rotate(-90deg);
            opacity: drop.$opacityWhileExpanded;
        }

        &.icon-closed {
            transform: rotate(90deg);
        }
    }
}
