@use 'shared/styles/variables' as v;

.userPage {
    margin-left: 50px;

    &.dark {
        color: white;
    }

    &.light {
        color: black;
    }

    .error {
        margin-top: 30px;
        font-size: 1.4rem;
        color: v.$primaryColor;
    }

    .userLoader {
        margin-top: 30px;
    }

    .userPageHeader {
        font-size: 3rem;
        font-weight: bold;

        margin-top: 30px;
    }

    .userSearchInput {
        margin-top: 30px;
    }

    .userList {
        margin-top: 30px;
    }
}
