@use 'shared/styles/variables' as v;

.userPostPage {
    margin-left: 50px;

    width: 800px;

    color: var(--textColor);

    .userPostsHeader {
        font-size: 3rem;
        font-weight: bold;

        margin-top: 30px;
    }

    .postControlsWrapper {
        margin-top: 49px;

        display: flex;
        justify-content: start;
        align-items: center;

        .filtersWrapper {
            > *:not(:last-child) {
                margin-bottom: 20px;
            }

            .filterHeader {
                font-size: 1.75rem;
                font-weight: normal;
            }

            .select {
                max-width: 200px;
            }
        }
    }

    .postsContainer {
        margin-top: 40px;

        > * {
            margin-bottom: 40px;
        }

        .noPostsLeft {
            font-size: 1.2rem;
        }

        .error {
            font-size: 1.3rem;
            color: v.$dangerColor;
        }
    }
}
